body {
    background-color: skyblue;
}
h1 {
    font-size: 50px;
    color: plum;
    text-align: center;
}
img {
    width: 300px;
    display: block;
    margin: auto;
    box-shadow: 0 0 30px rgb(217, 186, 217);
    border-radius: 10px;
}