body {
    background-color: rgb(247, 238, 234);
    color: rgb(66, 42, 91);
    font-family: arial;
    margin: 0px;
  }
  main {
    margin: 10px 20px 56px;
  }
  header {
    background-color: rgb(66, 42, 91);
    color: white;
    padding: 10px;
    font-size: 16px;
    text-align: left;
  }
  footer {
    background-color: rgb(66, 42, 91);
    color: white;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  h1 {
    color: rgb(66, 42, 91);
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 40px;
    margin: 40px 20%;
  }