{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
    <h1>Создание статей</h1>

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required>
            </label>
        </div>

        <div>
            Текст статьи:
            <textarea name="article_text" rows="10" style="width: 100%;" required></textarea>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_favorite">
                Добавить в избранное
            </label>
        </div>

         <div>
            <label>
                <input type="checkbox" name="is_public">
                Сделать публичной
            </label>
        </div>

        <div>
            <button type="submit">Создать статью</button>
            <a href="/lab8/list" style="margin-left: 10px;">Отмена</a>
        </div>


    </form>
{% endblock %}