{% extends "base.html" %}

{% block lab %}Лабораторная работа 8 - Редактирование статьи{% endblock %}

{% block main %}
    <h1>Редактирование статьи</h1>
    
    {% if error %}
    <div class="error">
        <strong>Ошибка:</strong> {{ error }}
    </div>
    {% endif %}
    
    <form action="/lab8/edit/{{ article.id }}" method="post">
        <div style="margin-bottom: 15px;">
            <label>
                Название статьи:<br>
                <input type="text" name="title" style="width: 300px; padding: 5px;" 
                       value="{{ article.title }}"  maxlength="50">
            </label>
        </div>
        
        <div style="margin-bottom: 15px;">
            <label>
                Текст статьи:<br>
                <textarea name="article_text" rows="10" style="width: 100%; padding: 5px;" >{{ article.article_text }}</textarea>
            </label>
        </div>
        

        
        <div style="margin-bottom: 15px;">
            <label>
                <input type="checkbox" name="is_public" value="true" {% if article.is_public %}checked{% endif %}>
                Публичная статья
            </label>
        </div>
        
        <div>
            <button type="submit" style="padding: 10px 20px;">Сохранить изменения</button>
            <a href="/lab8/" style="margin-left: 10px;">Отмена</a>
        </div>
    </form>
{% endblock %}