{% extends "base.html" %} 

{# номер лабораторной работы: #}
{% block lab %}Лабораторная работа 8{% endblock %}

{# основной контент: #}
{% block main %}
    <h1>База знаний</h1>

     <div style="margin-bottom: 20px;">
         {% if current_user.is_authenticated %}
            <p>Добро пожаловать, <strong>{{ current_user.login }}</strong>!</p>
        {% else %}
            <p>Добро пожаловать, <strong>Гость</strong>!</p>
        {% endif %}
    </div>

    
     <nav class="nav-panel" style="margin-bottom: 20px;">
        <a href="/lab8/public" class="nav-button">Публичные статьи</a>
        
        {% if current_user.is_authenticated %}
            <a href="/lab8/articles" class="nav-button">Мои статьи</a>
            <a href="/lab8/create" class="nav-button">Создать статью</a>
            <a href="/lab9/" class="nav-button">🎁 Новый год</a>
            <a href="/lab8/logout" class="nav-button logout">Выйти</a>
        {% else %}
            <a href="/lab8/login" class="nav-button">Войти</a>
            <a href="/lab8/register" class="nav-button">Регистрация</a>
        {% endif %}
    </nav>
    
{% endblock %}